body{
  font-family: "Quicksand";
}

.h1 {
  font-size: 2rem;
}

.row {
  padding: 3%;
}

.results {
  border-radius: 25px;
  border: 2px solid #00acee;
  padding: 20px;
}

.myBlue {
  background-color: #00acee;
}
